    /*.experience__demo{
       
    }*/
    
    .experience__demo button {
        color:#FFFFFF


    }


    .experience__botao--demo{
        background-color:#2A7AE4;
        width: 105px;
        height: 51px;
        border-color: #2A7AE4;
    }


    