.title__subsection{
    color: #464646;
    font-size: 1.375rem;
    text-align: center;
    font-weight: 400;
    width: 50rem;
    padding-right: 5.5rem;
    
    

}


/*width: 751px;
height: 52px;



font-size: 22px;
line-height: 26px;*/



/*flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;*/